.main-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 50vh;
}
.counter-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buttons{
    margin-top: 40px;
    display: flex;
    gap: 20px;
}
.buttons button{
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}
.title{
    margin-bottom: 40px;
    font-size: 42px;
    text-decoration: underline;
    font-family: Calibri;
}

#value{
    color: red;
    font-size: 58px;
}